<div class="col-sm-6 well" *ngIf="selectedBurrito">
  <h2>{{selectedBurrito.type}}</h2>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" for="burritoType">Type:</span>
        <select [(ngModel)]="selectedBurrito.type"  name="burritoType" id="burritoType" class="form-control">
          <option *ngFor=" let type of selectedBurrito.typesList" [ngValue]=type>{{type}}</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Restaurant:</span>
        <input [(ngModel)]="selectedBurrito.restaurant" class="form-control">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="isSuper" [(ngModel)]="selectedBurrito.isSuper">
            Super
          </label>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Calories:</span>
        <input [(ngModel)]="selectedBurrito.calories" type="number"  class="form-control">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Date:</span>
        <input [(ngModel)]="selectedBurrito.date" type="text"  class="form-control">
      </div>
  </div>
    <button type="button" name="button" class="btn btn-primary" (click)="editComplete()">Done</button>
</div>
