<div class="col-sm-6" [ngSwitch]="showNewBurrito">
  <div *ngSwitchCase='true'>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" for="burritoType">Type:</span>
        <select #newType  class="form-control" id="burritoType">
          <option *ngFor="let type of childTypes" [value]=type>{{type}}</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Restaurant:</span>
        <input #newRestaurant class="form-control">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="isSuper" #newIsSuper value="true">
            Super
          </label>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Calories:</span>
        <input #newCalories type="number"  class="form-control">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Date:</span>
        <input #newDate type="date"  class="form-control">
      </div>
    </div>
    <button type="button" name="button" class="btn btn-primary" (click)="newBurrito(newType.value, newRestaurant.value, newIsSuper.checked, newCalories.value, newDate.value); newRestaurant.value = ''; newCalories.value =''; newDate.value =''">Add</button>
  </div>
  <div *ngSwitchCase='false'>
    <button (click)="showForm()" class="btn btn-primary btn-lg">Add a new burrito</button>
  </div>
</div>
