<div class="col-sm-6">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" for="burritoType">Type:</span>
      <select #newType  class="form-control" id="burritoType">
        <option *ngFor="let type of childTypes" [value]=type>{{type}}</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Restaurant:</span>
      <input #newRestaurant class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Super:</span>
      <input #newIsSuper  class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Calories:</span>
      <input #newCalories type="number"  class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Date:</span>
      <input #newDate type="date"  class="form-control">
    </div>
  </div>
  <button type="button" name="button" class="btn btn-success" (click)="newBurrito(newType.value, newRestaurant.value, newIsSuper.value, newCalories.value, newDate.value)">Add</button>
</div>
